@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
    font-family: 'Handjet', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}



.controller {
    margin-top: auto;
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#triggersRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    padding-left: 60px;
}

.triggerL1,
.triggerL2,
.triggerR1,
.triggerR2 {
    width: 80px;
    height: 40px;
    background-color: #484848;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.triggerL1,
.triggerR1 {
    margin-bottom: 60px;
}

.triggerL2,
.triggerR2 {
    margin-bottom: 10px;
}


.crossCenter {
    background-color: #484848;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 20px;

}

.crossUp,
.crossDown,
.crossLeft,
.crossRight {
    background-color: #484848;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;

}

.crossCircle {
    background-color: #292929;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

.crossUp {
    margin-top: -30px;
}

.crossDown {
    margin-top: 30px;
}

.crossLeft {
    margin-left: -30px;
}

.crossRight {
    margin-left: 30px;
}

.ButtonsCenter {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.x,
.b,
.y,
.a,
.g {
    background-color: #484848;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 10px;
}

/* Remova as posições absolutas dos botões */
.x,
.b,
.y,
.a {
    position: static;
    margin: 0 10px;
}


.cross-clicked {
    background-color: #181818;
    transition: 0.1s;
}

.button-clicked {
    background-color: #181818;
    transition: 0.1s;
}

.x-clicked {
    background-color: #78a2cc;
    transition: 0.1s;
}

.y-clicked {
    background-color: #77DD77;
    transition: 0.1s;
}

.b-clicked {
    background-color: #F8F1AE;
    transition: 0.1s;
}

.a-clicked {
    background-color: #FF6961;
    transition: 0.1s;
}

.g-clicked {
    background-color: #9370DB;
    /* Cor roxa para o botão G quando clicado */
    transition: 0.1s;
}

.disabled {
    background-color: #000;
    color: #fff;
    cursor: not-allowed;
}